$font-white:    	#fff;
$font-gray:     	#787878;
$font-black:        #000;
$font-black-light:  #111112;
$font-gray-dark:    #303033;
$font-gray:     	#787878;
$font-gray-light: 	#999999;
$font-yellow: 		#deb900;
$font-red:			#e8020e;